@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'semyonSoviet';
    src: url('./SemyonSoviet.woff') format('woff'),
        url('./SemyonSoviet.woff2') format('woff2');
}

body {
    color: #e0a21d;
    background-image: url('./home-pancake.jpg');
    background-size: 100vw;
    font-family: 'Roboto', sans-serif;
}

h1, h2, p, body, #navbar {
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    place-content: center;
    gap: 80px;
    width: 100vw;
}

#navbar {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 100px;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
    background-color: rgba(0,0,0,0.5);
}

li {
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
}

#logo {
    display: grid;
    place-items: center;
    padding-bottom: 20px;
    gap: 10px;
    background-color: rgba(0,0,0,0.5);
}

h1 {
    font-size: 100px;
    font-family: 'semyonSoviet';
}

#background {
    padding: 80px;
    background-color: rgba(0,0,0,0.5);
    justify-self: center;
    display: grid;
    place-items: center;
    grid: auto / 1fr 1fr;
    gap: 80px;
}

img {
    width: 300px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    place-items: center;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
}

.row {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.row input, .row textarea {
    width: 250px;
    height: initial;
    border: none;
    border-radius: 5px;
}

.row label {
    text-align: right;
    width: 120px;
    text-transform: capitalize;
    font-size: 20px;
}

button {
    cursor: pointer;
    justify-self: start;
    margin-right: 22px;
    color: #e0a21d;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #e0a21d;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    background-color: rgba(0,0,0,1);
}